<!doctype html>
<html lang="en">
  <head>
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body>
    <div class="bg">
      <h1>A UNIQE SHOPPING EXPERIENCE <em>COMING SOON. </em>STAY TUNED</h1>
    </div>
  </body>
</html>