<div class="headline-container">
    <div class="container page-headline">
        <div class="col-sm-3 col-md-4 page-logo">
            <%= image_tag "spree/frontend/vida-woman.png", alt: "Vida Woman" %>
        </div>
        <div class="col-sm-9 col-md-8">
            <h4>
                She is confident, bold and focused. She's always trying to say something new- a reinventer. She has an effect on the people around her- at work, people notice her. Her style choices match her ambition and vision of herself.
            </h4>
        </div>
        <nav>
            <ul class="nav nav-justified page-nav">
                <li class="current"><a href="#">APPAREL</a></li>
                <li><a href="#">SHOES</a></li>
                <li><a href="#">BAGS</a></li>
                <li><a href="#">ACCESSORIES</a></li>
            </ul>
        </nav>
    </div>
</div>
<main role="main" class="main-content">
    <div class="container section">
        <div class="row">
            <aside class="col-sm-4 col-md-3">
                <div class="product-taxonomies">
                    <div class="taxonomy-group">
                        <h5 class="taxonomy-title"> <a href="#taxonomy-product-type" class="" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseListGroup1">PRODUCT TYPE</a> </h5>
                        <ul class="panel-collapse collapse in" role="tabpanel" id="taxonomy-product-type" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="">
                            <li class="current">
                                <a href="#">BLOUSE</a>
                            </li>
                            <li>
                                <a href="#">PANTS</a>
                            </li>
                            <li>
                                <a href="#">SHORTS</a>
                            </li>
                            <li>
                                <a href="#">SKIRTS</a>
                            </li>
                            <li>
                                <a href="#">JUMPSUITS</a>
                            </li>
                            <li>
                                <a href="#">WRAPS</a>
                            </li>
                            <li>
                                <a href="#">COATS</a>
                            </li>
                            <li>
                                <a href="#">JACKETS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="taxonomy-group">
                        <h5 class="taxonomy-title"> <a href="#taxonomy-product-color" class="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1">BY COLOR</a> </h5>
                        <div class="panel-collapse collapse product-colors" role="tabpanel" id="taxonomy-product-color" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="">
                            <div class="color" style="background-color: red"></div>
                            <div class="color" style="background-color: orange"></div>
                            <div class="color" style="background-color: yellow"></div>
                            <div class="color" style="background-color: green"></div>
                            <div class="color" style="background-color: blue"></div>
                            <div class="color" style="background-color: indigo"></div>
                            <div class="color" style="background-color: violet"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                        </div>
                    </div>
                    <div class="taxonomy-group">
                        <h5 class="taxonomy-title"> <a href="#taxonomy-product-fit" class="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="axonomy-product-fit">BY FIT</a> </h5>
                        <ul class="panel-collapse collapse" role="tabpanel" id="taxonomy-product-fit" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="">
                            <li>
                                <a href="#">REGULAR</a>
                            </li>
                            <li>
                                <a href="#">TALL</a>
                            </li>
                            <li>
                                <a href="#">PETITE</a>
                            </li>
                            <li>
                                <a href="#">PLUS-SIZE</a>
                            </li>
                        </ul>
                    </div>
                    <div class="taxonomy-group">
                        <h5 class="taxonomy-title"> <a href="#taxonomy-product-material" class="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1">BY MATERIAL</a> </h5>
                        <ul class="panel-collapse collapse" role="tabpanel" id="taxonomy-product-material" aria-labelledby="taxonomy-product-material" aria-expanded="true" style="">
                            <li>
                                <a href="#">COTTON</a>
                            </li>
                            <li>
                                <a href="#">CANVAS</a>
                            </li>
                            <li>
                                <a href="#">SILK</a>
                            </li>
                            <li>
                                <a href="#">JERSEY</a>
                            </li>
                            <li>
                                <a href="#">STRETCH</a>
                            </li>
                            <li>
                                <a href="#">WOOL</a>
                            </li>
                        </ul>
                    </div>
                    <div class="taxonomy-group">
                        <h5 class="taxonomy-title"> <a href="#taxonomy-product-promos" class="" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1">BY PROMOTIONS</a> </h5>
                        <ul class="panel-collapse collapse" role="tabpanel" id="taxonomy-product-promos" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style="">
                            <li>
                                <a href="#">ANNIVERSARY SALE</a>
                            </li>
                            <li>
                                <a href="#">30% OFF</a>
                            </li>
                            <li>
                                <a href="#">CLEARANCE SALE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div id='content' class="col-sm-8 col-md-9">
                <div class="sorter">
                    <p class="d-flex">SORT BY:</p>
                    <select class="form-control d-flex minimal">
                        <option value="">FEATURED</option>
                        <option>NEW ARRIVAL</option>
                        <option>SALE</option>
                        <option>SOMETHING ELSE</option>
                    </select>
                </div>
                <div class="row eq-height">
                  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="current-page"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">NEXT ></a></li>
                            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
